@model IEnumerable<TPCCC_ALTAMIRANO.Models.Marca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #tituloH2 {
        text-align: center;
        margin-top: 10px;
    }
</style>
<h2 id="tituloH2">Listado de Marcas</h2>
<hr />

<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="search form-control" placeholder="Buscar Marca">
        </div>
        <div class="col-md-1">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>
<table class="table table-striped" id="userTbl">
    <thead>
        <tr>
            <th>
                Nombre de la Marca
            </th>
            <th></th>
            <th></th>
        </tr>
  </thead>
  <tbody>

        @foreach (var item in Model)
        {
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.Descripcion)
          </td>
          <td>
              @Html.ActionLink("Modificar", "Edit", new { id = item.ID }, new { @style = "color:black;font-weight:bold" })
          </td>
          <td>
              <a class=" btn btn-danger" onclick="return  DeleteConfirm()" href="/Marcas/Delete/@item.ID"><span class="fa fa-trash"></span></a>
          </td>

      </tr>
        }
    </tbody>
</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ModalScripts/ModalScripts.js"></script>
}
