@model IEnumerable<TPCCC_ALTAMIRANO.Models.Ingreso>
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">*@
<!DOCTYPE html>
<html>
<head>
  <style>
      li.breadcrumb {
          margin-left:auto;
               margin-right:auto;
                
      }
      ol.breadcrumb{

          height:80px;
      }
      #tituloH2{ text-align: center}

  </style>
</head>
<body>

    <h2 id="tituloH2">Administrador de Reparaciones</h2>

    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb"> @Html.ActionLink("Ingresos", "Index", "Ingresos", new object { }, new { @class = "nav-link" })</li>
            <li class="breadcrumb">@Html.ActionLink("En Reparación", "EnReparacion", "Ingresos", new object { }, new { @class = "nav-link" })</li>
            <li class="breadcrumb">@Html.ActionLink("Para Entregar", "Entregar", "Ingresos", new object { }, new { @class = "nav-link" })</li>
            <li class="breadcrumb">@Html.ActionLink("Historico", "Historico", "Ingresos", new object { }, new { @class = "nav-link" })</a></li>
           
            
        </ol>
    </nav>

</body>
</html>
