@model IEnumerable<TPCCC_ALTAMIRANO.Models.Ingreso>
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">*@
<!DOCTYPE html>
<html>
<head>
  <style>
      li.breadcrumb {
          margin-left:auto;
               margin-right:auto;
                
      }
      ol.breadcrumb{

          height:60px;
      }

  </style>
</head>
<body>

    
    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb"><a href="#">Home</a></li>
            <li class="breadcrumb"><a href="#">Library</a></li>
            <li class="breadcrumb"><a href="#">Library</a></li>
            <li class="breadcrumb"><a href="#">Library</a></li>
        </ol>
    </nav>

</body>
</html>
