@model IEnumerable<TPCCC_ALTAMIRANO.Models.Ingreso>
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">*@
<!DOCTYPE html>
<html>
<head>
  <style>

      #tituloH2 {
          text-align: center;
          margin-top: 10px;
      }

      .row{text-align:center;
         
      }
  </style>
</head>
<body>

    <h2 id="tituloH2">Administrador de Reparaciones</h2>
    <hr/>
    <div class="row">
        <div class="col-md-3">
           
            <div class="form-group ">
                <button type="button" onclick="location.href='@Url.Action("Index", "Ingresos")'" class="btn btn-outline-dark btn-lg btn-block">
                   Ingresos
                </button>
           
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button type="button" onclick="location.href='@Url.Action("EnReparacion", "Ingresos")'"  class="btn btn-outline-dark btn-lg btn-block">
                En Reparación
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button type="button" onclick="location.href='@Url.Action("Entregar", "Ingresos")'"  class="btn btn-outline-dark btn-lg btn-block">
                Para Entregar
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button type="button" onclick="location.href='@Url.Action("Historico", "Ingresos")'" class="btn btn-outline-dark btn-lg btn-block">
                   Historico
                </button>
            </div>
        </div>
    </div>
    

</body>
</html>
