@model IEnumerable<TPCCC_ALTAMIRANO.Models.Cliente>

@{
    ViewBag.Title = "ElegirCliente";
    Layout = "";
}

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

<div class="form-group pull-left">
    <input type="text" class="search form-control" placeholder="A quien Buscas?">
</div>
<table class="table table-striped" id="userTbl">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre </th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td> @item.Id</td>
            <td> @item.Nombre</td>
            <td>@item.Apellido</td>
            <td> @Html.ActionLink("Elegir", "Create", "Ingresos", new { id = item.Id }, new { @class = "btn btn-primary btn-large" }) </td>
        </tr>
        }
    </tbody>
</table>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('.search').on('keyup', function () {
            var searchTerm = $(this).val().toLowerCase();
            $('#userTbl tbody tr').each(function () {
                var lineStr = $(this).text().toLowerCase();
                if (lineStr.indexOf(searchTerm) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>
