@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Bienvenidos a FixSis</h1>
    <h5>@Session["NombreUsuario"]</h5>
    <p class="lead">Sistema de administracion de reparaciones</p>
</div>
